tqdm
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
opencv-python
ffmpegcv
numpy
python_speech_features
scipy
scenedetect
scikit-learn
gdown
torchvision
pandas
transformers
accelerate
datasets
google-genai
pysubs2
boto3
fastapi[standard]
whisperx
matplotlib
modal
pytubefix